model/__pycache__/*
.vscode
*.pyc
log
output/*
test_code.py
*.onnx
*.csv
darknet53.conv.74
pretrained/
__pycache__/
*.npy
*.dll

datasets_train/Annotations/*
datasets_train/JPEGImages/*
datasets_train/ImageSets/*

datasets_eval/Annotations/*
datasets_eval/JPEGImages/*
datasets_eval/ImageSets/*

output/*

.DS_Store
